<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>khainq.controller.corsFilter.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>khainq.controller.serviceController.userService.accountService.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllProfile</servlet-name>
        <servlet-class>khainq.controller.serviceController.adminService.accountService.ViewAllProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOneProfile</servlet-name>
        <servlet-class>khainq.controller.serviceController.userService.accountService.ViewOneProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>khainq.controller.serviceController.userService.accountService.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>khainq.controller.serviceController.userService.accountService.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>khainq.controller.serviceController.adminService.accountService.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTour</servlet-name>
        <servlet-class>khainq.controller.serviceController.adminService.tourService.CreateTour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTour</servlet-name>
        <servlet-class>khainq.controller.serviceController.adminService.tourService.UpdateTour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTour</servlet-name>
        <servlet-class>khainq.controller.serviceController.adminService.tourService.DeleteTour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllTourUser</servlet-name>
        <servlet-class>khainq.controller.serviceController.userService.tourService.GetAllTourUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTourDetail</servlet-name>
        <servlet-class>khainq.controller.serviceController.userService.tourService.GetTourDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListOrderOfUser</servlet-name>
        <servlet-class>khainq.controller.serviceController.userService.orderSevice.GetListOrderOfUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderDetail</servlet-name>
        <servlet-class>khainq.controller.serviceController.userService.orderSevice.GetOrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutOrder</servlet-name>
        <servlet-class>khainq.controller.serviceController.userService.orderSevice.CheckOutOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>khainq.controller.serviceController.userService.accountService.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListOrderOfAdmin</servlet-name>
        <servlet-class>khainq.controller.serviceController.adminService.orderService.GetListOrderOfAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOneOrderOfAdmin</servlet-name>
        <servlet-class>khainq.controller.serviceController.adminService.orderService.GetOneOrderOfAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListCategory</servlet-name>
        <servlet-class>khainq.controller.serviceController.adminService.categorySevice.GetListCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllTourAdmin</servlet-name>
        <servlet-class>khainq.controller.serviceController.adminService.tourService.GetAllTourAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCategory</servlet-name>
        <servlet-class>khainq.controller.serviceController.adminService.categorySevice.InsertCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategory</servlet-name>
        <servlet-class>khainq.controller.serviceController.adminService.categorySevice.UpdateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>khainq.controller.serviceController.adminService.categorySevice.DeleteCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllProfile</servlet-name>
        <url-pattern>/ViewAllProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOneProfile</servlet-name>
        <url-pattern>/ViewOneProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/CreateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTour</servlet-name>
        <url-pattern>/CreateTour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTour</servlet-name>
        <url-pattern>/UpdateTour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTour</servlet-name>
        <url-pattern>/DeleteTour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllTourUser</servlet-name>
        <url-pattern>/GetAllTourUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTourDetail</servlet-name>
        <url-pattern>/GetTourDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListOrderOfUser</servlet-name>
        <url-pattern>/GetListOrderOfUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderDetail</servlet-name>
        <url-pattern>/GetOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutOrder</servlet-name>
        <url-pattern>/CheckOutOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListOrderOfAdmin</servlet-name>
        <url-pattern>/GetListOrderOfAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOneOrderOfAdmin</servlet-name>
        <url-pattern>/GetOneOrderOfAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListCategory</servlet-name>
        <url-pattern>/GetListCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllTourAdmin</servlet-name>
        <url-pattern>/GetAllTourAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCategory</servlet-name>
        <url-pattern>/InsertCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategory</servlet-name>
        <url-pattern>/UpdateCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/DeleteCategory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
